.flip-list-item {
    transition: all 1s;
}

.flip-list-leave-active {
    position: absolute;
}

.flip-list-enter, .flip-list-leave-to {
    opacity: 0;
    transform: translateY(100px);
    z-index: -1;
}